{% extends 'base/wrapper.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            {{ test.added_date }}
        </div>
        <h1>{{ test.theme_of_test }}</h1>
    </div>
    <h1>Вариант {{ variant.number_of_variant }}</h1>
    <a class="btn btn-primary btn-lg" href="{% url 'variant_delete' pk=test.pk pk2=variant.pk %}">Удалить вариант</a>
    <a class="btn btn-primary btn-lg" href="{% url 'task_new' pk=test.pk pk2=variant.pk %}">Добавить задачу</a>
    {% for task in tasks.all %}
    <div class="post">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ task.question }}</h5>
              <a class="btn btn-primary btn-lg" href="{% url 'task_edit' pk=test.pk pk2=variant.pk pk3=task.pk %}">Изменить</a>
              <a class="btn btn-primary btn-lg" href="{% url 'task_delete' pk=test.pk pk2=variant.pk pk3=task.pk %}">Удалить</a>
              <div class="date">
                <h5>{{task.added_date|date:" Добавлено d.m.y в h:m"}}</h5>
              </div> 
              
            </div>
          </div>
    </div>
    {% endfor %}
    
{% endblock %}
