{% extends 'base/wrapper.html' %}
{% block header %}
<main class="col-md-9">
    <script>
        $( document ).ready(function() {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
        });
    </script>
    
        <h3>Мои контрольные</h3>
        <div class="post">
            
            <h1>{{ test.theme_of_test }}</h1>
            <div class="date">
                {{ test.added_date }}
            </div>
        </div>
        <h1>Вариант {{ variant.number_of_variant }}</h1>
        <a class="btn btn-primary btn-lg" href="{% url 'variant_print' pk=test.pk pk2=variant.pk %}">Печатать</a>
        <a class="btn btn-primary btn-lg" href="{% url 'task_new' pk=test.pk pk2=variant.pk %}">Добавить задачу</a>
        
        
    
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row container d-flex justify-content-center">
                    <div class="col-sm-12">
                        <!-- Draggable default card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Задачи</h5>
                            </div>
                            <div class="card-block">
                                <div id="sortable">
                                    
                                        {% for task in tasks.all %}
                                        <div class="col-lg-12 col-xl-3">
                                            <div class="post">
                                                <div class="card" style="width: 27rem;">
                                                    <div class="card-body">
                                                    <!-- <h4 class="card-title">Задача</h4> -->
                                                    <div class="card-block">
                                                        <h5 class="card-text">Ответ: {{ task.answer }}</h5>
                                                        <h5 class="card-text">{{ task.question|safe }}</h5>
                                                    </div>
                                                    
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
    
                                
                            </div>
                        </div> <!-- Draggable default card start -->
    
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}
