{% extends 'base/wrapper.html' %}

{% block header %}
<main class="col-md-9">
    <h1>Новая задача</h1>
    <form method="POST" class="post-form" >{% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form.question }}
        {{ form.answer }}
        <select class="custom-select">
            <option selected>Выберите категорию</option>
            <option value="1">Арифметика</option>
            <option value="2">Алгебра</option>
            <option value="3">Геометрия</option>
            <option value="4">Теория элементарных функций и элементы анализа</option>
            <option value="5">Математический анализ</option>
            <option value="6">Алгебра</option>
            <option value="7">Аналитическая геометрия</option>
            <option value="8">Линейная алгебра и геометрия</option>
            <option value="9">Дискретная математика</option>
            <option value="10">Математиская логика</option>
            <option value="11">Дифференциальные уравнения</option>
            <option value="12">Дифференциальная геометрия</option>
            <option value="13">Топология</option>
            <option value="14">Функциональный анализ и интегральные уравнения</option>
            <option value="15">Теория функций комплексного переменного</option>
            <option value="16">Уравнения с частными производными</option>
            <option value="17">Теория вероятностей</option>
            <option value="18">Математическая статистика</option>
            <option value="19">Теория случайных процессов</option>
            <option value="20">Вариационное исчисление и методы оптимизации</option>
            <option value="21">Методы вычислений, т.е.численные методы</option>
            <option value="22">Теория чисел</option>
        </select>
        <button type="submit" class="save btn btn-dark">Сохранить</button>
    </form> 
</main>

{% endblock %}
