{% extends 'base/wrapper.html' %}

{% block header %}
<main class="col-md-9">
  {% for task in tasks %}
    <div class="post">
        <div class="card" style="width: 18rem; height: 23rem;">
            <div class="card-body">
              <h5 class="card-text">{{task.question|safe}}</h5>
              <a href="#" class="btn btn-primary greyButton">Сохранить</a>
              <div class="date">
                <h5>{{task.added_date|date:" Добавлено d.m.y в h:m"}}</h5>
              </div>
            </div>
          </div>
    </div>
  {% endfor %}
</main>
{% endblock %}
