{% extends 'base/wrapper.html' %}

{% block header %}
<main class="col-md-9">
    <h1>Новая задача</h1>
    <form method="POST" class="post-form" >{% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form.question }}
        {{ form.answer }}
        {{ form.category }}
        {% comment %} <select class="custom-select">
            <option selected>Выберите категорию</option>
            <option value="1">Арифметика</option>
        </select> {% endcomment %}
        <button type="submit" class="save btn btn-dark">Сохранить</button>
    </form> 
</main>

{% endblock %}
