{% extends 'base/wrapper.html' %}

{% block header %}
    <main class="col-md-9">

      {% if user.is_authenticated or display_user %}
        {% for test in tests %}
          <div class="post">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h3 class="card-title">{{test.theme_of_test}}</h5>
                <h5 class="card-title">{{test.count_of_variants}} вариантов, {{test.count_of_tasks}} задач</h5>
                <h5 class="card-title">{{test.user}}</h5>

                <a href="{% url 'test_detail' pk=test.pk %}" class="btn btn-primary">Перейти</a>
                <div class="date">
                  <h5>{{test.added_date|date:" Добавлено d.m.y в h:m"}}</h5>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
        
    </main>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1></h1>
      <div class="page-header">
        <p>
          <a href="{% url 'test_new' %}" class="btn btn-primary btn-lg">Создать контрольную</a>
          <p> $$ \begin{eqnarray*}
            & \int(F_i x_k - F_k x_i)\,dV = & \\
            & \qquad=\oint(u_{il}x_k-u_{kl}x_i)\,df_l &
            \end{eqnarray*}
             $$</p>
        </p>
      </div>
      
    </div>
  </div>
{% endblock %}