{% extends 'base/wrapper.html' %}

{% block header %}
    <main class="col-md-9">
      <div class="jumbotron">
        <div class="container">
          <h1></h1>
          <div class="page-header">
            <p>
              <a href="{% url 'test_new' %}" class="btn btn-primary greyButton">Создать контрольную работу</a>
              <p>  \begin{eqnarray*}
                & \int(F_i x_k - F_k x_i)\,dV = & \\
                & \qquad=\oint(u_{il}x_k-u_{kl}x_i)\,df_l &
                \end{eqnarray*}
                 </p>
            </p>
          </div>
          
        </div>
      </div>
      {% if user.is_authenticated or display_user %}
      <h2>Последние добавленные контрольные работы</h2>
      <table>
        <tr>
          <td>
          {% for test in tests %}
          {% if test.private == False %}
          <div class="post">
            <div class="card" style="width: 18rem; height: 23rem;">
              <div class="card-body">
                <h3 class="card-title">{{test.theme_of_test}}</h3>
                <h4 class="card-title">{{test.description}}</h4>
                <h5 class="card-title">{{test.count_of_variants}} вариантов, {{test.count_of_tasks}} задач</h5>
                <h5 class="card-title">{{test.user}}</h5>
                <a href="{% url 'test_detail' pk=test.pk %}" class="btn btn-primary greyButton">Перейти</a>
                <a href="{% url 'test_detail' pk=test.pk %}" class="btn btn-primary greyButton">Сохранить</a>
                <div class="date">
                  {{test.added_date|date:" Добавлено d.m.y в H:i"}}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
          </td>
        </tr>
      </table>
      {% endif %}

      {% if user.is_authenticated or display_user %}
      {% if tests.has_other_pages %}
        <ul class="pagination">
        {% if tests.has_previous %}
        <li class="page-item disabled">
          <span class="page-link"><a href="?page={{ tests.previous_page_number }}">Previous</a></span>
        </li>
        {% else %}
          <li class="disabled"><span>Пред</span></li>
        {% endif %}
        {% for i in tests.paginator.page_range %}
          {% if tests.number == i %}
            <li class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ tests.next_page_number }}">Вперд</a>
        </li>
        {% else %}
          <li class="disabled"><span>Вперд</span></li>
        {% endif %}
        </ul>
      {% endif %}
      {% endif %}
        
    </main>

{% endblock %}

{% block content %}
<button onclick="window.scroll(0,0);">Наверх</button>
{% endblock %}