{% load static %}
{% load mathjax %}
{% mathjax_scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:;base64,=">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Контрольные работы</title>
  <title>border-spacing</title>
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/tests.css' %}">

  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
  <nav id="e2_4" class="navbar navbar-dark bg-dark">
      <ul class="nav">
          <li class="nav-item">
            <form action="search/" method="get">
              <input name="q" class="form-control search" type="text" placeholder="Поиск...">
            </form>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-outline-dark btn-lg onlineTests blackOnGrey">Онлайн-тесты</a>
            <a href="#" class="btn btn-outline-dark btn-lg helpButton blackOnGrey">Помощь </a>
          </li>
          
      </ul>
      
      {% if user.is_authenticated or display_user %}
        <div class="username"><a href="#" class="whiteClassA nav-link nav-link-username"> {{ user.username }} {{ display_user }}</a></div>
        <div class="quit"><a href="{% url 'logout' %}" class="btn btn-outline-dark btn-lg quit greyButton ">Выйти </a></div>
      {% else %}
        <div><a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg signin ">Войти </a></div>
        <div><a href="{% url 'registration' %}" class="btn btn-outline-dark btn-lg signup ">Зарегистрироваться </a> </div> 
      {% endif %}

  </nav>
  <div class="container-fluid" style="margin-top: 0; padding: 0;">
      <div class="row" style="margin:0">
          <header class="col-md-3" style="background-color: #343a40!important; padding:6px;">
          <nav class="sidebar-sticky bg-dark navbar-expand-md">
              <a href="{% url 'index' %}" class="logo navbar-brand whiteClassA">Главная</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item active">
                  <a href="/test/list/" class="nav-link whiteClassA">Просмотр контрольных работ</a>
                  </li>
                  {% if user.is_authenticated or display_user %}
                  <li class="nav-item">
                  <a href="/mytests/list/" class="nav-link whiteClassA">Мои контрольные работы</a>
                  </li>
                  <li class="nav-item">
                  <a href="/saved/" class="nav-link whiteClassA">Избранные контрольные работы</a>
                  </li>
                  <li class="nav-item">
                  <a href="/savedtasks/" class="nav-link whiteClassA">Избранные задачи</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a href="" class="nav-link"></a>
                  </li>
              </ul>
              </div>
          </nav>
          <nav class="sidebar-sticky bg-dark navbar-expand-md">
            <h1 style="color:white;">Категории</h1>
            <h1 style="color:white;">Элементарная математика</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column">
                <li class="nav-item">
                </li>
                <li class="nav-item active">
                <a href="{% url 'task_list' category="Арифметика" %}" class="nav-link whiteClassA"> Арифметика</a>
                </li>
                <li class="nav-item">
                <a href="{% url 'task_list' category="Алгебраэлементарнаяматематика" %}" class="nav-link whiteClassA">Алгебра</a>
                </li>
                <li class="nav-item">
                <a href="{% url 'task_list' category="Геометрия" %}" class="nav-link whiteClassA">Геометрия</a>
                </li>
                <li class="nav-item">
                <a href="{% url 'task_list' category="Теорияэлементарныхфункцийиэлементыанализа" %}" class="nav-link whiteClassA">Теория элементарных функций и элементы анализа</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link"></a>
                </li>
            </ul>
            </div>
            <h1 style="color:white;">Высшая математика</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item active">
                  <a href="{% url 'task_list' category="Математическийанализ" %}" class="nav-link whiteClassA">Математический анализ</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Алгебравысшаяматематика" %}" class="nav-link whiteClassA">Алгебра</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Аналитическаягеометрия" %}" class="nav-link whiteClassA">Аналитическая геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Линейнаяалгебраигеометрия" %}" class="nav-link whiteClassA">Линейная алгебра и геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Дискретнаяматематика" %}" class="nav-link whiteClassA">Дискретная математика</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Математическаялогика" %}" class="nav-link whiteClassA">Математическая логика</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Дифференциальныеуравнения" %}" class="nav-link whiteClassA">Дифференциальные уравнения</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Дифференциальнаягеометрия" %}" class="nav-link whiteClassA">Дифференциальная геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Топология" %}" class="nav-link whiteClassA">Топология</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Функциональныйанализиинтегральныеуравнения" %}" class="nav-link whiteClassA">Функциональный анализ и интегральные уравнения</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Теорияфункцийкомплексногопеременного" %}" class="nav-link whiteClassA">Теория функций комплексного переменного</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Уравнениясчастнымипроизводными" %}" class="nav-link whiteClassA">Уравнения с частными производными</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Теориявероятностей" %}" class="nav-link whiteClassA">Теория вероятностей</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Математическаястатистика" %}" class="nav-link whiteClassA">Математическая статистика</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Теорияслучайныхпроцессов" %}" class="nav-link whiteClassA">Теория случайных процессов</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Вариационноеисчислениеиметодыоптимизации" %}" class="nav-link whiteClassA">Вариационное исчисление и методы оптимизации</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Численныеметоды" %}" class="nav-link whiteClassA">Численные методы</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="Теориячисел" %}" class="nav-link whiteClassA">Теория чисел</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link"></a>
                  </li>
              </ul>
              </div>
        </nav>
          </header>
          
          {% block header %}
          {% endblock %}
          
      </div>
  </div>
  {% block content %}

  {% endblock %}
  {% block javascript %}{% endblock %}
</body>
</html>
