{% load static %}
{% load mathjax %}
{% mathjax_scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Контрольные работы</title>
  <title>border-spacing</title>
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/tests.css' %}">

</head>
<body>
  <div id="e2_4" class="divTopPanel">
      <ul class="nav">
          <li class="nav-item">
            <form action="search/" method="get">
              <input name="q" class="form-control search" type="text" placeholder="Поиск...">
            </form>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-primary btn-lg helpButton blackOnGrey">Помощь </a>
          </li>
          
      </ul>
      
      {% if user.is_authenticated or display_user %}
        <div class="username"><a href="#" class="whiteClassA nav-link nav-link-username"> {{ user.username }} {{ display_user }}</a></div>
        <div class="quit"><a href="{% url 'logout' %}" class="btn btn-primary btn-lg quit greyButton ">Выйти </a></div>
      {% else %}
        <div><a href="{% url 'login' %}" class="btn btn-primary btn-lg signin ">Войти </a></div>
        <div><a href="{% url 'registration' %}" class="btn btn-primary btn-lg signup ">Зарегистрироваться </a> </div> 
      {% endif %}
      
  </div>
  <div class="container-fluid">
      <div class="row">
          <header class="col-md-3">
          <nav class="sidebar-sticky bg-dark navbar-expand-md">
              <a href="{% url 'index' %}" class="logo navbar-brand whiteClassA">Главная</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item active">
                  <a href="/test/list/" class="nav-link whiteClassA">Просмотр контрольных работ</a>
                  </li>
                  <li class="nav-item">
                  <a href="/mytests/list/" class="nav-link whiteClassA">Мои контрольные работы</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Избранное</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link"></a>
                  </li>
              </ul>
              </div>
          </nav>
          <nav class="sidebar-sticky bg-dark navbar-expand-md">
            <h1 style="color:white;">Категории</h1>
            <h1 style="color:white;">Элементарная математика</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto flex-column">
                <li class="nav-item">
                </li>
                <li class="nav-item active">
                <a href="{% url 'task_list' category="Арифметика" %}" class="nav-link whiteClassA"> Арифметика</a>
                </li>
                <li class="nav-item">
                <a href="{% url 'task_list' category="Алгебра" %}" class="nav-link whiteClassA">Алгебра</a>
                </li>
                <li class="nav-item">
                <a href="" class="nav-link whiteClassA">Геометрия</a>
                </li>
                <li class="nav-item">
                <a href="" class="nav-link whiteClassA">Теория элементарных функций и элементы анализа</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link"></a>
                </li>
            </ul>
            </div>
            <h1 style="color:white;">Высшая математика</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item active">
                  <a href="{% url 'task_list' category="math" %}" class="nav-link whiteClassA"> Математический анализ</a>
                  </li>
                  <li class="nav-item">
                  <a href="{% url 'task_list' category="math" %}" class="nav-link whiteClassA">Алгебра</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Аналитическая геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Линейная алгебра и геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Дискретная математика</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Математиская логика</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Дифференциальные уравнения</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Дифференциальная геометрия</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Топология</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Функциональный анализ и интегральные уравнения</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Теория функций комплексного переменного</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Уравнения с частными производными</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Теория вероятностей</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Математическая статистика</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Теория случайных процессов</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Вариационное исчисление и методы оптимизации</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Методы вычислений, т.е.численные методы</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Теория чисел</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link"></a>
                  </li>
              </ul>
              </div>
        </nav>
          </header>
          
          {% block header %}
          {% endblock %}
          
      </div>
  </div>
  {% block content %}

  {% endblock %}
</body>
</html>
