{% load static %}
{% load mathjax %}
{% mathjax_scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Контрольные</title>
  <title>border-spacing</title>
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="{% static 'tests/css/tests.css' %}">

</head>
<body>
  <div id="e2_4" class="divTopPanel">
      <ul class="nav">
          <li class="nav-item">
            <!-- <a href="search/" class="btn btn-primary btn-lg nav-link ">Поиск контрольных </a> -->
            <form action="search/" method="get">
              <input name="q" type="text" placeholder="Search...">
            </form>
          </li>
          <li class="nav-item">
            <a href="#" class="btn btn-primary btn-lg nav-link ">Помощь </a>
          </li>
      </ul>
      {% if user.is_authenticated or display_user %}
        <div><a href="#" class="whiteClassA nav-link active"> {{ user.username }} {{ display_user }}</a></div>
        <div><a href="{% url 'logout' %}" class="btn btn-primary btn-lg signin ">Выйти </a></div>
      {% else %}
        <div><a href="{% url 'login' %}" class="btn btn-primary btn-lg signin ">Войти </a></div>
        <div><a href="{% url 'registration' %}" class="btn btn-primary btn-lg signup ">Зарегистрироваться </a> </div> 
      {% endif %}
      
  </div>
  <div class="container-fluid">
      <div class="row">
          <header class="col-md-3">
          <nav class="sidebar-sticky bg-dark navbar-expand-md">
              <a href="{% url 'index' %}" class="logo navbar-brand whiteClassA">Главная</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto flex-column">
                  <li class="nav-item">
                  </li>
                  <li class="nav-item active">
                  <a href="/tasks/list/" class="nav-link whiteClassA">Банк задач</a>
                  </li>
                  <li class="nav-item">
                  <a href="/test/list/" class="nav-link whiteClassA">Мои контрольные</a>
                  </li>
                  <li class="nav-item">
                  <a href="" class="nav-link whiteClassA">Сохраненные задачи</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link"></a>
                  </li>
              </ul>
              </div>
          </nav>
          </header>
          {% block header %}
          {% endblock %}
          
      </div>
  </div>
  {% block content %}

  {% endblock %}

  <div class="container">
  </div>
</body>
</html>
