h1 {  
    font-size: 20px;  
}
div {  
    margin: 10px;  
}
.blackOnGrey {
    color:black;
}
.nav-link-username {
    color: white;
}
.menu div { 
    width: 80px; 
    display:inline-block;
    color: azure;
}
A.whiteClassA:visited {text-decoration: none; color: rgb(255, 255, 255);}
A.whiteClassA:active {text-decoration: none; color: rgb(255, 255, 255);}
A.whiteClassA:hover {text-decoration: underline; color: rgb(255, 255, 255);}
A.whiteClassA:link { color: rgb(255, 255, 255);}
A {
    color: #000000; /* Цвет обычной ссылки */
}
A:visited {
    color: #000000; /* Цвет посещенной ссылки */
}
A:hover {
    color: #3f3f3f; /* Цвет ссылки при наведении на нее курсора мыши */  
}
#e2_4 {
    font-family: 'Alatsi', sans-serif;
    background-color: #343a40;
    width:99%;
    height:100px;
}
.signup {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(190, 190, 190);
    position: absolute;
    /* display: inline-block;
    width: 138px;
    height: 35px; */
    left: 870px;
    top: 25px;
    
    border-radius: 0px;
    z-index: 1;
}
.helpButton {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(190, 190, 190);
    position: absolute;
    left: 500px;
    top: 25px;
    border-radius: 0px;
    z-index: 1;
}
.onlineTests {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(190, 190, 190);
    position: absolute;
    left: 320px;
    top: 25px;
    border-radius: 0px;
    z-index: 1;
}
.search {
    position: absolute;
    top: 25px;
    left: 20;
    width: auto;
}
.btn {
    margin: 5px;
}
.signin {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(190, 190, 190);
    /* display: inline-block; */
    position: absolute;
    left: 760px;
    top: 25px;
    z-index: 1;
}
.greyButton{
    background-color: rgb(190, 190, 190);
    color: black;
}
.username {
    position: absolute;
    top: 25px;
    right: 130px;
}
.sizeOfAllButtons {
    width: 160px;
}
.quit {
    position: absolute;
    right: 0px;
    top: 10px;
}
#e1_19 {
    box-shadow:0px 8px 20px rgba(255, 255, 255, 0.918);
    background-color:rgba(255, 255, 255, 1);
    opacity:1;
    width:272px;
    height:928px;
}
.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem !important
}

.card-sub {
    cursor: move;
    border: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05)
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-block {
    padding: 1.25rem;
    background-color: #fff !important
}
