h1 {  
    font-size: 20px;  
}  
p {  
    color: green;  
}  
div {  
    margin: 10px;  
}
.divTopPanel div { 
    width: 80px; 
    display:inline-block;
    
}
.menu div { 
    width: 80px; 
    display:inline-block;
    color: azure;
}
A.whiteClassA:visited {text-decoration: none; color: rgb(255, 255, 255);}
A.whiteClassA:active {text-decoration: none; color: rgb(38, 0, 255);}
A.whiteClassA:hover {text-decoration: underline; color: rgb(38, 0, 255);}
A {
    color: #000000; /* Цвет обычной ссылки */
}
A:visited {
    color: #000000; /* Цвет посещенной ссылки */
}
A:hover {
    color: #03e6f7; /* Цвет ссылки при наведении на нее курсора мыши */  
}
#e2_4 {
    font-family: 'Alatsi', sans-serif;
    background-color:rgba(66.00000366568565, 87.00000241398811, 178.00000458955765, 1);
    opacity:1;
    width:1200px;
    height:80px;
}
.signup {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(46, 240, 240);
    display: inline-block;
    position: fixed;
    left: 76%;
    top: 25px;
}
.signin {
    font-family: 'Roboto', sans-serif;
    background-color:rgba(66.00000366568565, 87.00000241398811, 178.00000458955765, 1);
    display: inline-block;
    position: fixed;
    left: 68%;
    top: 25px;
}
.actionPanelSearch {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: fixed;
    left: 25%;
    top: 25px;
    
}
.actionPanelCreate {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: fixed;
    left: 40%;
    top: 25px;
}
.actionPanelBrowse {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    position: fixed;
    left: 55%;
    top: 25px;
}
#e1_19 {
    box-shadow:0px 8px 20px rgba(255, 255, 255, 0.918);
    background-color:rgba(255, 255, 255, 1);
    opacity:1;
    width:272px;
    height:928px;
}
