{% extends 'base/wrapper.html' %}

{% block header %}
<main class="col-md-9">
    <div class="post">
        <h6>Автор: {{ test.user }} | {{test.count_of_variants}} вариантов, {{test.count_of_tasks}} задач</h6>
        <h2>{{ test.theme_of_test }}</h2>
        <h5>{{ test.description }}</h5>
        <div class="date">
            Добавлено {{ test.added_date }}
        </div>
        <a class="btn btn-outline-dark greyButton" href="{% url 'test_print' pk=test.pk %}">Распечатать</a>
        {% if allow_to_edit == True %}
            <a class="btn btn-outline-dark greyButton" href="{% url 'tag_new' pk=test.pk %}">Сгенерировать автоматически</a>
            <a class="btn btn-outline-dark greyButton" href="{% url 'test_edit' pk=test.pk %}">Переименовать</a>
            <a class="btn btn-outline-dark greyButton" href="{% url 'test_delete' pk=test.pk %}">Удалить</a>
            <a class="btn btn-outline-dark greyButton" href="{% url 'variant_new' pk=test.pk %}">Добавить вариант</a>
        {% endif %}
        
    </div>

    {% for variant in variants.all %}
    <div class="post">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">{{variant.number_of_variant}} вариант</h4>
              <h6>{{variant.count_of_tasks}} задач</h6>
              <a class="btn btn-outline-dark greyButton" href="{% url 'variant_detail' pk=test.pk pk2=variant.pk %}">Перейти</a>
              {% if test.user.pk == user.pk %}
                <a class="btn btn-outline-dark greyButton" href="{% url 'variant_delete' pk=test.pk pk2=variant.pk %}">Удалить</a>
              {% endif %}
            </div>
          </div>
    </div>
    {% endfor %}
</main>
{% endblock %}
