{% extends 'base/wrapper.html' %}
{% load tests_filters %}
{% block javascript %}
<script>
 $(document).on('click','#like',function (e) {
      $.ajax({
               type: "POST",
               url: "{% url 'like' %}",
               data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'pk': $(this).attr('name')},
               dataType: "json",
               success: function(response) {
                      //alert(response.message);
                      //alert('Company likes count is now ' + response.likes_count);
                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }
          }); 
    })

var getLikeButton = document.getElementsByClassName('like_button');

for (var i = 0; i < getLikeButton.length; i++) {
   getLikeButton.item(i).addEventListener('click', (e) => {
     //e.target.style.display = 'none';
     //e.target.textContent="Вы сохранили это";
     e.target.src = "../../static/tests/img/heart-fill.svg";
   });
}

</script>
{% endblock %}

{% block header %}
  <main class="col-md-9">
    <h2>Популярные контрольные работы</h2>
    {% if user.is_authenticated or display_user %}
        <h2>Последние добавленные контрольные работы</h2>
        <table>
            {% for test, test2 in tests %}
            <tr>
            {% if test is not None %}
            <td>
            <div class="post">
              <div class="card" style="width: 18rem; height: 23rem;">
                <div class="card-body">
                  <h3 class="card-title">{{test.theme_of_test}}</h3>
                  <h4 class="card-text">{{test.description}}</h4>
                  <h5 class="card-title">{{test.count_of_variants}} вариантов, {{test.count_of_tasks}} задач</h5>
                  <h5 class="card-subtitle mb-2 text-muted">Автор: {{test.user}}</h5>
                  <a href="{% url 'test_detail' pk=test.pk %}" class="btn btn-primary greyButton">Перейти</a>
                  {% if not liked_tests|get_value_from_dict:test.pk %}
                  <a id="like" name='{{ test.pk }}' class="btn btn-primary greyButton like_button">
                    <img src="../../static/tests/img/heart.svg" alt="" width="24" height="24" title="Bootstrap">
                  </a>
                  {% else %}
                  <a id="dislike_default" name='{{ test.pk }}' class="btn btn-primary greyButton">
                    <img src="../../static/tests/img/heart-fill.svg" alt="" width="24" height="24" title="Bootstrap">
                  </a>
                  {% endif %}
                  <div class="date">
                    {{test.added_date|date:" Добавлено d.m.y в H:i"}}
                  </div>
                </div>
              </div>
              </td>
              {% endif %}
              {% if test2 is not None %}
              <td>
              <div class="card" style="width: 18rem; height: 23rem;">
                <div class="card-body">
                  <h3 class="card-title">{{test2.theme_of_test}}</h3>
                  <h4 class="card-text">{{test2.description}}</h4>
                  <h5 class="card-title">{{test2.count_of_variants}} вариантов, {{test2.count_of_tasks}} задач</h5>
                  <h5 class="card-subtitle mb-2 text-muted">Автор: {{test2.user}}</h5>
                  <a href="{% url 'test_detail' pk=test2.pk %}" class="btn btn-primary greyButton">Перейти</a>
                  {% if not liked_tests|get_value_from_dict:test2.pk %}
                  <a id="like" name='{{ test2.pk }}' class="btn btn-primary greyButton like_button">
                    <img src="../../static/tests/img/heart.svg" alt="" width="24" height="24" title="Bootstrap">
                  </a>
                  {% else %}
                  <a id="dislike_default" name='{{ test2.pk }}' class="btn btn-primary greyButton">
                    <img src="../../static/tests/img/heart-fill.svg" alt="" width="24" height="24" title="Bootstrap">
                  </a>
                  {% endif %}
                  <div class="date">
                    {{test2.added_date|date:" Добавлено d.m.y в H:i"}}
                  </div>
                </div>
              </div>
            </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      {% endif %}

      {% if tests.has_other_pages %}
        <ul class="pagination">
        {% if tests.has_previous %}
        <li class="page-item disabled">
          <span class="page-link"><a href="?page={{ tests.previous_page_number }}">Previous</a></span>
        </li>
        {% else %}
          <li class="disabled"><span>Пред</span></li>
        {% endif %}
        {% for i in tests.paginator.page_range %}
          {% if tests.number == i %}
            <li class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ tests.next_page_number }}">Вперд</a>
        </li>
        {% else %}
          <li class="disabled"><span>Вперд</span></li>
        {% endif %}
        </ul>
      {% endif %}
  </main>
  <button onclick="window.scroll(0,0);">Наверх</button>
{% endblock %}
